@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink-strong: #ff66c7;
  --pink-strong-hover: #ff8cd5;
  --pink-light: #ffd1e9;
  --pink-extra-light: #ffe8f4;
}

@theme inline {
  --color-primary: var(--pink-strong);
  --color-secondary: var(--pink-light);
  --color-lowlight: var(--pink-extra-light);

  --color-window-bg: var(--color-secondary);
  --color-window-border-color: var(--color-primary);
  --color-window-dotted-bg: radial-gradient(circle, var(--color-primary) 1px, transparent 1px);
  --color-btn-primary-hover: var(--pink-strong-hover);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-undefined: var(--font-undefined);

  --shadow-inner-soft: inset 0 0 8px rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/images/windows-xp-bliss.jpg");
  color: var(--pink-strong);
  font-family: var(--font-undefined), monospace;
}

.bg-window-dotted {
  background-image: radial-gradient(circle, var(--pink-strong) 1px, transparent 1.5px);
  background-color: var(--pink-light);
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px var(--pink-light);
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

input:not([type='date']),
textarea {
  background-color: var(--pink-extra-light);
  border: 2px solid var(--pink-strong);
  padding: 0 0 0 8px;

  &:focus {
    outline: none;
  }
}
